{% extends "app/base.html" %}
{% block body_block %}
  <title>Login Page</title>
  <h3>Please Login</h3>
  <br>


  {% for message in messages %}
  <p class=text-danger>{{message}}</p>
  {% endfor %}

  <form action="{% url 'app:login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username">

    <label for="password">Password:</label>
    <input type="password" name="password">

    <input type="submit"  value="Submit">
  </form>

{% endblock %}
